<nav class="navbar">
    <div class="nav-container">
      <a class="brand" routerLink="/">Andina Trading</a>
      <ul class="nav-links">
        <li><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/registro" routerLinkActive="active">Registro</a></li>
        <li><a routerLink="/inicio-de-sesion" routerLinkActive="active">Iniciar sesión</a></li>
        <li><a routerLink="/financiador" routerLinkActive="active">Financiador</a></li>
        <li><a routerLink="/inversor" routerLinkActive="active">Inversor</a></li>
        <li><a routerLink="/andinatrading" routerLinkActive="active">Andina Trading</a></li>
        <li><a routerLink="/mercado" routerLinkActive="active">Mercado</a></li>
        <li><a routerLink="/inversionistas" routerLinkActive="active">Inversionistas</a></li>
      </ul>
    </div>
  </nav>
  