<nav class="navbar">
    <ul>
      <li><a routerLink="/inicio" routerLinkActive="activo">Inicio</a></li>
      <li><a routerLink="/registro" routerLinkActive="activo">Registro</a></li>
      <li><a routerLink="/inicio-de-sesion" routerLinkActive="activo">Iniciar sesión</a></li>
      <li><a routerLink="/financiador" routerLinkActive="activo">Financiador</a></li>
      <li><a routerLink="/inversor" routerLinkActive="activo">Inversor</a></li>
      <li><a routerLink="/andinatrading" routerLinkActive="activo">Andina Trading</a></li>
      <li><a routerLink="/mercado" routerLinkActive="activo">Mercado</a></li>
      <li><a routerLink="/inversionistas" routerLinkActive="activo">Inversionistas</a></li>
      <li><a routerLink="/comisionistas" routerLinkActive="activo">Comisionistas</a></li>
      <li><a routerLink="/ordenes" routerLinkActive="activo">Órdenes</a></li>
      <li><a routerLink="/mis-inversiones" routerLinkActive="activo">Mis Inversiones</a></li>
      <li><a routerLink="/contratos" routerLinkActive="activo">Contratos</a></li>
      <li><a routerLink="/reportes" routerLinkActive="activo">Reportes</a></li>
      <li><a routerLink="/paises" routerLinkActive="activo">Países</a></li>
    </ul>
</nav>  

<router-outlet></router-outlet>